<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Webbapp - Login </h1>
    
<!--Visar beroende på inloggad eller ej: https://stackoverflow.com/questions/65516111/springboot-show-logout-button-for-only-users-that-are-logged-in-without-thymelea -->
    
<div id="indexDiv">
    <a href="/login" sec:authorize="!isAuthenticated()">
         <button>Login</button>
    </a>

    <a href="/logout" sec:authorize="isAuthenticated()">
        <button>Logout</button>
    </a>

    <a href="/register">
        <button>Registrera ny användare</button>
    </a>

    <a href="/orders" sec:authorize="isAuthenticated()">
        <button>Mina Ordrar</button>
    </a>
</div>

    <ul>
        <li th:each="product : ${products}">
            <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
        </li>
    </ul>
</body>
</html>