<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Webbapp - Login </h1>

    <a href="/register">
        <button>Registrering</button>
    </a>

    <br>

    <a href="/login">
        <button>Login</button>
    </a>
    
    <br>

    <a href="/orders">
        <button>Mina Ordrar</button>
    </a>

    <ul>
        <li th:each="product : ${products}">
            <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
        </li>
    </ul>
</body>
</html>