<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1 th:text="${product.name}"></h1>
    
    <div id="produktDiv">

        <a href="/">
            <button>Tillbaka</button>
        </a>

        <p th:text="'Produkt id: ' + ${product.id}"></p>
        <img class="produktbilder" th:src="${product.pictureLink}" alt="">
        <p th:text="${product.description}"></p>
        <p th:text="${product.price} + ':- per förpackning'"></p>
        <button sec:authorize="isAuthenticated()">Lägg till bland ordrar</button>

    </div>
    
</body>
</html>