<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Registrera</h1>
    <p>Skapa ny användare:</p>
    <form th:action="@{/newUser}" method="post">
        <input type="text" name="username" placeholder="Användarnamn">
        <br>
        <input type="text" name="password" placeholder="Lösenord">
        <br>
        <input type="text" name="firstName" placeholder="Förnamn">
        <br>
        <input type="text" name="lastName" placeholder="Efternamn">
        <br>
        <input type="text" name="email" placeholder="Email">
        <br>
        <button type="submit">Skapa användare</button>
    </form>
</body>
</html>