<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="/js/register.js" defer></script>
</head>
<body>
    <h1>Registrera</h1>
    <a href="/">
        <button>Tillbaka</button>
    </a>
    <p>Skapa ny användare:</p>
    <form th:action="@{/register-new}" method="post">
        <input class="regInput" type="text" name="username" placeholder="Användarnamn">
        <br>
        <input class="regInput" type="text" name="password" placeholder="Lösenord">
        <br>
        <input class="regInput" type="text" name="firstName" placeholder="Förnamn">
        <br>
        <input class="regInput" type="text" name="lastName" placeholder="Efternamn">
        <br>
        <input class="regInput" type="text" name="email" placeholder="Email">
        <br>
        <button id="regBtn" type="submit">Skapa användare</button>
    </form>
</body>
</html>